@page 
@model emiranda4BAIS3150CodeSample.Pages.RemoveAStudentModel
@{
    ViewData["Title"] = "Remove a Student - emiranda4";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
<h1 class="display-4">Remove a Student</h1>
<hr class="my-4">
<div>
    <h4 class="alert-success">@Model.FormMessage</h4>
    <form method="post">
        <div class="form-group row align-items-end">
            <div class="col-2">
                <label asp-for="StudentID" class="form-label">Student ID</label>
                <input type="text" asp-for="StudentID" placeholder="ex. johndoe1" class="form-control">
            </div>
            <div class="col-auto">
                <span asp-validation-for="StudentID" class="alert-danger"></span>
                <br />
                <span class="alert-danger">@Model.ErrorMessage</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button asp-page-handler="Search" class="btn btn-primary">Search</button>
                <button asp-page-handler="Remove" class="btn btn-danger" disabled="@Model.Disable" onclick="return confirm('Are you sure you want to delete this?')">Remove</button>
            </div>
        </div>
    </form>
</div>
@if (Model.ExistingStudent != null)
{
    <br />
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <caption>Student Information</caption>
            <thead>
                <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Program Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.ExistingStudent.StudentID</td>
                    <td>@Model.ExistingStudent.FirstName</td>
                    <td>@Model.ExistingStudent.LastName</td>
                    <td>@Model.ExistingStudent.Email</td>
                    <td>@Model.ExistingStudent.ProgramCode</td>
                </tr>
            </tbody>
        </table>
    </div>
}